<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Maxion Oligo Generator></title>
</head>
<body>
    <h1>Maxion Oligo Generator</h1>
    
    <form id="baseNucleotideSequence">
        <label for="inputSequence">Enter text:</label>
        <input type="text" id="inputSequence" name="inputSequence" required>
        <br>
        <label for="numChanges">Number of changes:</label>
        <input type="text" id="numChanges" name="numChanges" required>
        <br>
        <button type="button" onclick="generateSequences()">Generate Library</button>
        <button type="button" onclick="exportSequences()">Export Library</button>
    </form>

    <p id="result_header">Generated library:</p>
    <p id="result">Sequences will appear here.</p>

    <script>
        function generateSequences() {
            // Get the data out of the form
            var baseNucleotideSequence = document.getElementById("inputSequence").value;
            var numChanges = document.getElementById("numChanges").value;
            // Create a new request through AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/generateSequences", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    parseResult(xhr.responseText)
                }
            };
            xhr.send(JSON.stringify({"inputSequence": baseNucleotideSequence, "numChanges": numChanges}));
        }
        
        function parseResult(jsonResponse) {
            // Parse JSON
            var resultsObject = JSON.parse(jsonResponse);
            var base_aa_sequence = resultsObject.base_amino_acid_sequence;
            var nt_sequences = resultsObject.nucleotide_sequences;
            var aa_sequences = resultsObject.amino_acid_sequences;
            var changes = resultsObject.changes;
            // Split by "," and add line break
            document.getElementById("result_header").innerHTML = "Generated " + nt_sequences.length + " sequences from base sequence " + base_aa_sequence;
            // Display text
            // document.getElementById("result").innerHTML = htmlDisplay;
            displayResultsInTable(nt_sequences, aa_sequences, changes)

        }

        // Function to create HTML table
        function displayResultsInTable(nt_sequences, aa_sequences, changes) {

            // Create the table
            var table = document.createElement("table");
            var headerRow = table.insertRow(0);

            // Create table header
            var headerCell = headerRow.insertCell(0);
            headerCell.innerHTML = "<b>Nucleotide Sequences</b>";
            headerCell.style.textAlign = "center"
            var headerCell = headerRow.insertCell(1);
            headerCell.innerHTML = "<b>Amino Acid Sequences</b>";
            headerCell.style.textAlign = "center"
            var headerCell = headerRow.insertCell(2);
            headerCell.innerHTML = "<b>Change Attempts</b>";
            headerCell.style.textAlign = "center"
            

            // Create table rows
            for (var i = 0; i < nt_sequences.length; i++) {
                var row = table.insertRow(i + 1);
                var cell = row.insertCell(0);
                cell.innerHTML = nt_sequences[i];
                cell.style.textAlign = "center"
                var cell = row.insertCell(1);
                cell.innerHTML = aa_sequences[i];
                cell.style.textAlign = "center"
                var cell = row.insertCell(2);
                cell.innerHTML = String(changes[i]);
                cell.style.textAlign = "center"
            }

            // Display in HTML
            var arrayDisplayDiv = document.getElementById("result");
            arrayDisplayDiv.innerHTML = "";
            arrayDisplayDiv.appendChild(table);
        }

        function buildTableData() {
            const elements = [...document.querySelectorAll('td')];
            return elements.map(x => {
            return {content : x.innerHTML}
            });
        }

        // Function to export library
        function exportSequences() {
            // Get the HTML table
            var tableBody = document.getElementById("result").getElementsByTagName('tbody')[0];

            // Initialize the CSV string
            var csv = [];

            // Iterate through table rows and cells
            var numRows = tableBody.rows.length;
            for (var i = 1, numRows; row = tableBody.rows[i]; i++) {
                csv.push(row.cells[0].innerText);
            }

            // Create a CSV blob
            var csvContent = csv.join('\n');
            var blob = new Blob([csvContent], { type: 'text/csv' });

            // Create a download link
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = 'exported_data.csv';

            // Append the link to the document and trigger the click event
            document.body.appendChild(link);
            link.click();

            // Remove the link from the document
            document.body.removeChild(link);
        }
    </script>

</body>
</html>